<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- PAGE settings -->
   <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
   <title>Health-Ready Characterization</title>
   <meta name="description" content="Free Bootstrap 4 Pingendo Smke template single landing page team">
   <meta name="keywords" content="Pingendo smke free template bootstrap 4">
   <!-- CSS dependencies -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="colorful.css">
   <!-- Script: Navbar on-top -->
</head>
<body>
    
    <%- body %>
    
</body>
</html>